// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

$colorOriginal: #00bfff;
$colorOriginalB25: #148fb8;
$colorOriginalW25: #53c5ec;
$colorOriginalNegative: #ff4000a1;

html,
body {
	margin: 0;
}

div > header {
	display: flex;
	justify-content: space-around;
	height: 7vh;
	align-items: center;

	background-color: $colorOriginal;
}

header > span {
	font: {
		weight: bold;
	}
}

header > div > button {
	margin: 0.5vw;
}

header > .children {
}

header > .children > button {
}

.general {
	display: flex;
	justify-content: center;
	align-items: center;
}
//=====component===============Loading===========
.loadform {
	display: flex;
	justify-content: center;
	align-items: center;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
}
// .loading {
// 	aspect-ratio: 1;
// 	border-radius: 50%;
// 	padding: 6px;
// 	background: conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0
// 			calc(50% - 4px) / 17px 8.5px,
// 		radial-gradient(
// 				farthest-side at bottom left,
// 				#53c5ec calc(100% - 6px),
// 				currentColor calc(100% - 5px) 99%,
// 				#0000
// 			)
// 			top right/50% 50% content-box content-box,
// 		radial-gradient(
// 				farthest-side at top,
// 				#0000 calc(100% - 6px),
// 				currentColor calc(100% - 5px) 99%,
// 				#0000
// 			)
// 			bottom / 100% 50% content-box content-box;
// 	background-repeat: no-repeat;
// 	animation: 5s infinite linear;
// }
// @keyframes l11 {
// 	100% {
// 		transform: rotate(1turn);
// 	}
// }

//=====component===============Loginform===========
.loginformGeneral {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
}
.logoLogin {
	margin: 0;
	color: $colorOriginalB25;
	font-size: 50px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.loginform {
	// position: absolute;
	// top: 50%;
	// right: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15vh;
	// border: solid;
	// border-color: $colorOriginalB25;
	background-color: $colorOriginal;
	width: 30vw;
	box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.59);
}
.loginform > span {
	margin: 1vh;
	// width: 15vw;
}

.loginform > button {
	background-color: $colorOriginal;
	border: solid;
	border-color: black;
	margin: 3vh;
	width: 160px;
	height: 60px;
	border-radius: 7px;
}

.loginform > button:hover {
	background-color: $colorOriginalW25;
}

.loginform > button:active {
	background-color: $colorOriginalB25;
}
//=====component===============TimeTable===========
.timeTable {
	align-items: center;
	height: 50vh;
	width: 75vw;
	border-radius: 50px;
}

.dayTimeTable {
	background-color: $colorOriginalNegative;
}

.timeTable {
	margin-top: 10vh;
	border: solid;
}
.timeTable > tr,
td {
	border: solid;
	border-width: 1px;
	height: 1vh;
	width: 5vw;
}

.timeTable > thead {
	background-color: #00bfff;
	border: solid;
}

.pause {
	background-color: white;
	border: none;
}
//=====component===============Diary===========

.diaryGeneral {
	display: flex;
	flex-direction: column;
}

.diary {
	margin: 10px;
	display: flex;
	border: solid;
	border-radius: 50px 0 0 50px;
	width: 75vw;
	background-color: $colorOriginalNegative;
}

.diary > .diaryDay {
	position: relative;
	width: 7%;
	left: 90px;
	transform: rotate(-90deg);
	font-weight: bold;
}

.diary > table {
	background-color: $colorOriginal;
	width: 100%;
}

.diary > table .numLesson {
	background-color: #148fb8;
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
	width: 3%;
}
.diary > table .valueLesson {
	border-color: black;
	border-width: 1px;
	width: 15%;
}
.diary > table .valueHomework {
	background-color: white;
	border-color: gray;
	border-width: 1px;
	padding-left: 10px;
	text-align: left;
}
//=====component===============Events===========
.events {
	margin: 5vh;
	font-size: 3vh;
}
